.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .nav_logo img {
  height: 25%;
}

.nav .nav_logo {
  margin-left: 2%;
}

.nav .nav_buton {
  font-size: 16px;
  margin-right: 2%;
}
.nav .nav_buton button {
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-secondary);
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1rem;
}
.nav .nav_buton button:hover {
  background: var(--color-red);
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  font-family: var(--font-roboto);
  font-size: 10px;
}

.contacts_line {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.container {
  display: flex;
}

.container__sidebar {
  width: 30%;
  max-height: 40vh;
  padding: 2%;
  margin: 0% 1% 0% 2%;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.container__main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  overflow: auto;
  background-color: var(--color-primary-dark);
  padding: 2%;
  margin: 0% 2% 0% 1%;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  padding: 2%;
  background-color: var(--color-primary);
  margin-bottom: 2%;
  box-shadow: var(--shadow);
}

/* .card__cover {
  /* height: 150px;
  width: 100%; */

.card__content {
  /* Take available height */
  flex: 1;
}

.card_avatar {
  /* Rounded border */
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.avatar__image {
  /* Rounded border */
  border-radius: 50%;

  /* Take full size */
  height: 100%;
  width: 100%;
}

.card_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  font-family: var(--font-logo);
  font-size: 12px;
}

.social_media {
  font-size: 1rem;
}
.text {
  font-size: 0.8rem;
}

.card_head_input {
  display: flex;
  flex-direction: column;
  font-family: var(--font-logo);
  font-size: 12px;
}
.card_input {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  padding: 2%;
  background-color: var(--color-primary);
  margin-bottom: 2%;
  box-shadow: var(--shadow);
}
.input_area {
  display: flex;
  flex-direction: column;
}
.input_area textarea {
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary-dark);
  outline: none;
  background: var(--color-primary-dark);
  transition: background 0.2s, border-color 0.2s;
  color: white;
  font-family: var(--font-roboto);
}
.input_area button {
  align-self: center;
  margin-top: 2%;
  width: 25%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-secondary);
}
.input_area button:hover {
  background: #1d4c53;
}
