.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .nav_logo img {
  height: 25%;
}

.nav .nav_logo {
  margin-left: 2%;
}

.nav .nav_buton {
  font-size: 1rem;
  margin-right: 2%;
}
.nav .nav_buton button {
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-secondary);
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1rem;
}
.nav .nav_buton button:hover {
  background: var(--color-red);
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  font-family: var(--font-roboto);
  font-size: 10px;
}

.contacts_line {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.container {
  display: flex;
}

.container__sidebar {
  width: 30%;
  max-height: 40vh;
  padding: 2%;
  margin: 0% 1% 0% 2%;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.container__main {
  flex: 1;
  overflow: auto;
  background-color: var(--color-primary-dark);
  padding: 2%;
  margin: 0% 2% 0% 1%;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  padding: 2%;
  background-color: var(--color-primary);
  margin-bottom: 2%;
  box-shadow: var(--shadow);
}

.card__content {
  flex: 1;
}

.card_avatar {
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.avatar__image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.card_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  font-family: var(--font-logo);
  font-size: 12px;
}

.social_media {
  font-size: 1rem;
}
.text {
  font-size: 0.8rem;
}

.card_head_input {
  display: flex;
  flex-direction: column;
  font-family: var(--font-logo);
  font-size: 12px;
}
.card_input {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  padding: 2%;
  background-color: var(--color-primary);
  margin-bottom: 2%;
  box-shadow: var(--shadow);
}
.input_area {
  display: flex;
  flex-direction: column;
}
.input_area textarea {
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary-dark);
  outline: none;
  background: var(--color-primary-dark);
  transition: background 0.2s, border-color 0.2s;
  color: white;
  font-family: var(--font-roboto);
}
.input_area button {
  align-self: center;
  margin-top: 2%;
  width: 25%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-secondary);
}
.input_area button:hover {
  background: #1d4c53;
}
#post-message {
  font-family: var(--font-roboto);
  word-break: break-word;
}

.card__content {
  display: flex;
  flex-direction: column;
}
.card__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-btn {
  align-self: center;
  margin-top: 2%;
  width: 15%;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-family: var(--font-roboto);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-red);
}

.like-btn {
  background: none;
  border: none;
  color: white;
  margin-top: 4%;
  cursor: pointer;
}
.liked,
.like-btn:hover {
  color: var(--color-red);
}

i {
  font-size: 1.2rem;
}
.accordion,
.accordion span,
.panel,
.active {
  display: none;
}

@media (max-width: 768px) {
  .container__sidebar {
    display: none;
  }
  .input_area button {
    width: 30%;
  }
  .remove-btn {
    width: 25%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container__main {
    margin-top: 2%;
  }

  .accordion {
    display: inherit;
    background-color: var(--color-primary);
    font-family: var(--font-roboto);
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion span {
    font-family: var(--font-logo);
    display: inherit;
  }
  #universidade-mobile,
  #curso-mobile {
    font-family: var(--font-logo);
    display: inherit;
  }
  .active,
  .accordion:hover {
    background-color: var(--color-primary);
    display: inherit;
  }
  .panel {
    display: inherit;
    font-family: var(--font-roboto);
    font-size: 1rem;
    padding: 0 18px;
    background-color: var(--color-primary-dark);
    display: none;
    overflow: hidden;
  }
}
